{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

{% include 'blog/partials/_header.html' %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %} {% include 'blog/partials/_card.html' %} {% endfor %}
        </div>

        <!-- Sidebar -->
        {% include 'blog/partials/_sidebar.html' %}
    </div>
</div>

{% endblock content %}